<!doctype html>
<html>

<head>
	<% include ../partials/header %>
</head>

<style>
.profile_img {
  border-radius                       : 50%;
	width                               : 175px;
	float                               : left;
}
.profile_name {
	margin-left                         : 40px;
	font-size                           : 35px;
}
.profile_desc {
	margin-left                         : 40px;
	font-size                           : 20px;
}
.project_text {
	text-align                          : center;
	font-size                           : 30px;
	margin                              : 20px;
}
.border{
	padding                             : 20px;
}
.project_block{
	margin-top: 40px;
}
</style>

<body>
	<% include ../partials/navbar %>
	<div class="container">
		<div class="project_block">
      <div class="row border">
				<img class="profile_img" src="assets/static/default_avatar.png" alt="Avatar">
				<div class="col">
				<div class="row">
					<div class="profile_name">AppVenture</div>
				</div>
				<div class="row">
					<div class="profile_desc">I love working on SQL projects</div>
				</div>
				<div class="row">
				<div class="profile_desc">Tags: </div>
				</div>
			</div>
		 </div>
		</div>
	</div>
		<div class="row justify-content-center">
      <div class="project_text">Current Projects</div>
		</div>
	</div>
	<div class="container">
		<div class="block">
			<table class="table border">
			  <thead>
			    <tr>
			      <th scope="col">Name</th>
						<th scope="col">Tags</th>
			      <th scope="col">Organization</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="Name">Research on parametric vector equations in C++</th>
			      <td>abc</td>
			      <td>KMS</td>
			    </tr>
			    <tr>
						<th scope="Name">Research on something</th>
			      <td>def</td>
			      <td>ey28ny1ec1p</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="project_text">Completed Projects</div>
	</div>
</div>
<div class="container">
	<div class="block">
		<table class="table border">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Tags</th>
					<th scope="col">Organization</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="Name">Java something java somethng</th>
					<td>Java</td>
					<td>KMS</td>
				</tr>
				<tr>
					<th scope="Name">Python Python Python</th>
					<td>Python</td>
					<td>ey28ny1ec1p</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
	<% include ../partials/footer %>
</body>

</html>
